
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row-fluid">
    <div class="span6">
        <!-- BEGIN CHART PORTLET-->
        <div>
            <img src="~/Web/img/bann2.jpg" alt="Metro Lab" style="height:350px;width:100%" />
        </div>
        <!-- END CHART PORTLET-->
    </div>
    <div class="span6">
        <!-- BEGIN CHART PORTLET-->
        <div>
            <img src="~/Web/img/bann3.jpg" alt="Metro Lab" style="height:350px;width:100%" />
        </div>
        <!-- END CHART PORTLET-->
    </div>
</div>


